/*universal selector that applies throughout the application*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* set root font size */
html {
  font-size: 62.5%;
}

/* best practice: to set font styles in Body */
body {
  box-sizing: border-box;
}